.ModuleName {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 75px;
}
.ModuleName__text {
  color: #fff;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.25px;
  margin-left: 25px;
}
